.persian-date-mask-input {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}
.persian-date-mask-input input {
  border: 0;
  border-bottom: 1px solid #dcdcdc;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.persian-date-mask-input input:focus-visible {
  outline: none;
  box-shadow: none;
}
