.persian-date-input {
  position: relative;
  font-family: IRANYekan;
}
.persian-date-input .input-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
}
.persian-date-input .input-wrapper .label {
  direction: rtl;
  padding-right: 7px;
  margin-bottom: 2px;
  font-size: 13px;
  color: #5b5959;
}
.persian-date-input .input-wrapper .input-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.persian-date-input .input-wrapper .input-holder .p-date {
  border: none;
  font-size: 14px;
  text-align: right;
  padding-right: 8px;
  line-height: 30px;
  color: #212529;
  background-color: #fff;
  cursor: pointer;
  direction: rtl;
  width: 100%;
  flex-grow: 1;
}
.persian-date-input .input-wrapper .input-holder .p-date:focus-visible {
  outline: none;
  box-shadow: none;
}
.persian-date-input .input-wrapper .input-holder .controllers {
  width: 52px;
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  margin-left: 4px;
}
.persian-date-input .input-wrapper .input-holder .controllers .drop-down {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #bbb8b8;
  font-weight: 100;
}
.persian-date-input .input-wrapper .input-holder .controllers .drop-down:hover {
  cursor: pointer;
  background: #bbb8b8;
  color: #fff;
  border-radius: 4px;
}
.persian-date-input .input-wrapper .input-holder .controllers .clear {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #bbb8b8;
  font-weight: 100;
}
.persian-date-input .input-wrapper .input-holder .controllers .clear:hover {
  cursor: pointer;
  background: #bbb8b8;
  color: #fff;
  border-radius: 4px;
}
.persian-date-input.error .input-wrapper .p-date {
  border-color: #f94949;
}
.persian-date-input.error .input-wrapper .p-date:focus-visible {
  outline-offset: 2px;
  outline-color: #f94949;
}
.persian-date-input .persian-date-wrapper {
  position: absolute;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 260px;
  direction: rtl;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 7px;
  border: 1px solid #dcdcdc;
}
.persian-date-input .persian-date-wrapper .month-select {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-column-gap: 7px;
  direction: rtl;
}
.persian-date-input .persian-date-wrapper .month-select a {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.persian-date-input .persian-date-wrapper .month-select a:hover {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background: #dcdcdc;
  cursor: pointer;
}
.persian-date-input .persian-date-wrapper .month-select > * {
  direction: ltr;
}
.persian-date-input .persian-date-wrapper .year-select {
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 280px;
  overflow-y: auto;
}
.persian-date-input .persian-date-wrapper .year-select a {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.persian-date-input .persian-date-wrapper .year-select a:hover {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background: #dcdcdc;
  cursor: pointer;
}
.persian-date-input .persian-date-wrapper .year {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.persian-date-input .persian-date-wrapper .year span {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.persian-date-input .persian-date-wrapper .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}
.persian-date-input .persian-date-wrapper .month span {
  cursor: pointer;
}
.persian-date-input .persian-date-wrapper .month .navigation {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}
.persian-date-input .persian-date-wrapper .month .navigation:hover {
  border: 1px solid #dcdcdc;
  border-radius: 17px;
  background: #dcdcdc;
  cursor: pointer;
}
.persian-date-input .persian-date-wrapper .week {
  display: grid;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
  grid-column-gap: 3px;
  direction: rtl;
  margin-top: 10px;
}
.persian-date-input .persian-date-wrapper .week .day-name {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  width: 30px;
}
.persian-date-input .persian-date-wrapper .week .day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
}
.persian-date-input .persian-date-wrapper .week .day:hover {
  background: #dcdcdc;
  cursor: pointer;
  border-radius: 15px;
}
.persian-date-input .persian-date-wrapper .week .day.current {
  background-color: #46cc46;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
}
.persian-date-input .persian-date-wrapper .week .today {
  width: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.persian-date-input .persian-date-wrapper .week .today a {
  width: 60px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1dba85;
  cursor: pointer;
  color: #000;
  border-radius: 6px;
}
.persian-date-input .persian-date-wrapper .week > * {
  direction: ltr;
}
.persian-date-input.dark .input-wrapper .label {
  color: #fff;
}
.persian-date-input.dark .persian-date-wrapper {
  color: #fff;
  background: #17212b;
}
.persian-date-input.dark .persian-date-wrapper .month .navigation {
  background: #fff;
  border-radius: 17px;
}
.persian-date-input.dark .persian-date-wrapper .month .navigation:hover {
  border: 1px solid #fff;
}
.persian-date-input.dark .persian-date-wrapper .month-select a:hover, .persian-date-input.dark .persian-date-wrapper .year-select a:hover {
  background: #fff;
  color: #000;
}
.persian-date-input.dark .persian-date-wrapper .week .day:hover {
  background: #fff;
  color: #000;
}
.d-none {
  display: none;
}
