
.persian-date-input {
    position: relative;
    font-family: IRANYekan;

    .input-wrapper {
        position: relative;
        display: flex;
        flex-flow: column;

        .label {
            direction: rtl;
            padding-right: 7px;
            margin-bottom: 2px;
            font-size: 13px;
            color: #5b5959;
        }

        .input-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ced4da;
            border-radius: 4px;

            .p-date {
                border: none;
                font-size: 14px;
                text-align: right;
                padding-right: 8px;
                line-height: 30px;
                color: #212529;
                background-color: #fff;
                cursor: pointer;
                direction: rtl;
                width: 100%;
                flex-grow: 1;

                &:focus-visible {
                    outline: none;
                    box-shadow: none;
                }
            }

            .controllers {
                width: 52px;
                display: flex;
                justify-content: flex-start;
                gap: 4px;
                margin-left: 4px;

                .drop-down {
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 14px;
                    color: #bbb8b8;
                    font-weight: 100;

                    &:hover {
                        cursor: pointer;
                        background: #bbb8b8;
                        color: #fff;
                        border-radius: 4px;
                    }
                }

                .clear {
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 14px;
                    color: #bbb8b8;
                    font-weight: 100;

                    &:hover {
                        cursor: pointer;
                        background: #bbb8b8;
                        color: #fff;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    &.error {
        .input-wrapper {
            .p-date {
                border-color: #f94949;

                &:focus-visible {
                    outline-offset: 2px;
                    outline-color: #f94949;
                }
            }
        }
    }

    .persian-date-wrapper {
        position: absolute;
        right: 0;
        z-index: 999;
        background: #fff;
        width: 260px;
        direction: rtl;
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 7px;
        border: 1px solid #dcdcdc;

        .month-select {
            display: grid;
            grid-template-columns: 70px 70px 70px;
            grid-column-gap: 7px;
            direction: rtl;

            a {
                width: 60px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    border: 1px solid #dcdcdc;
                    border-radius: 4px;
                    background: #dcdcdc;
                    cursor: pointer;
                }
            }
        }

        .month-select > * {
            direction: ltr;
        }

        .year-select {
            display: flex;
            justify-content: start;
            gap: 10px;
            flex-wrap: wrap;
            max-height: 280px;
            overflow-y: auto;

            a {
                width: 40px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    border: 1px solid #dcdcdc;
                    border-radius: 4px;
                    background: #dcdcdc;
                    cursor: pointer;
                }
            }
        }

        .year {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;

            span {
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .month {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;

            span {
                cursor: pointer;
            }

            .navigation {
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 18px;

                &:hover {
                    border: 1px solid #dcdcdc;
                    border-radius: 17px;
                    background: #dcdcdc;
                    cursor: pointer;
                }
            }
        }

        .week {
            display: grid;
            grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
            grid-column-gap: 3px;
            direction: rtl;
            margin-top: 10px;

            .day-name {
                font-size: 14px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                width: 30px;
            }

            .day {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 14px;

                &:hover {
                    background: #dcdcdc;
                    cursor: pointer;
                    border-radius: 15px;
                }

                &.current {
                    background-color: #46cc46;
                    border-radius: 15px;
                    color: #fff;
                    font-weight: bold;
                }
            }

            .today {
                width: 245px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    width: 60px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #1dba85;
                    cursor: pointer;
                    color: #000;
                    border-radius: 6px;
                }
            }
        }

        .week > * {
            direction: ltr;
        }
    }

    &.dark {
        .input-wrapper {

            .label {
                color: #fff;
            }
        }

        .persian-date-wrapper {
            color: #fff;
            background: #17212b;

            .month {
                .navigation {
                    background: #fff;
                    border-radius: 17px;

                    &:hover {
                        border: 1px solid #fff;
                    }
                }
            }

            .month-select, .year-select {
                a {
                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                }
            }

            .week {
                .day {
                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                }

                .today {
                    a {
                    }
                }
            }
        }
    }
}

.d-none {
    display: none;
}
