@page "/"
@using System.ComponentModel.DataAnnotations
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MaskInput/>


<EditForm Model="@Model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row" style="direction:rtl">
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Model.Name" />
        </div>
        <div class="col-12"></div>
        <div class="col-md-4 mt-3">
            <PersianDatePicker @bind-Date="Model.BirthDate"
                               PlaceHolder="تاریخ تولد"
                               Label="تاریخ تولد:"
                               ValueChanged="DateChanged"
                               DarkMode="true"
                               For="()=>Model.BirthDate"
                               Immediate="true" />
        </div>
        <div class="col-12 mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</EditForm>


<p class="mt-2">@Model.BirthDate</p>


@code{

    Student Model { get; set; } = new() { BirthDate = DateTime.Now };

    void DateChanged(DateTime? value)
    {
        Console.WriteLine($"Date Changed: {value}");
    }

    public class Student
    {
        public string Name { get; set; }

        [Required(ErrorMessage = "تاریخ تولد اجباری است")]
        public DateTime? BirthDate { get; set; }
    }

    void Submit()
    {

    }
}
